<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="ct_monan.css">
    <title>Chi tiết món ăn</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <script src="../sidebar/sidebar.js"></script>
    <script src="ct_monan.js"></script>
    <script>
        $(function() {
            $("#sidebar").load("../sidebar/sidebar.html");
        });
    </script>
</head>
<body>
    <div id="sidebar"></div>
    <div id="chitiet_mon1">
        <div id="title_ctma">
            <b id="tenmon" style="font-size: 40px;">Gà sốt 8 vị cay</b>
            <hr style="width: 30%;">
        </div>
        <div class="Chitiet">
            <div class="picture">
                <div class="image-container_1">
                    <img src="../img/Gacay8vi.1.jpg" alt="gacay8vi" style="width: 270px; height: 270px; border-radius: 15px;">
                </div>
                <div class="image-container_2">
                    <img src="../img/Gacay8vi.1.jpg" alt="gacay8vi" style="width: 70px; height: 70px;">
                </div>
            </div>
            <div id="mota">
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">119.000đ</span>
                </p>
                <b>Mô tả:</b>
                <p>
                    Gà sốt 8 vị cay “đốn tym” bạn bởi hương vị cay có 1-0-2, đó chính là nước sốt đặc biệt với sự hoà quyện của 8 loại ớt, tiêu lừng danh trên thế giới sánh quyện trên từng miếng gà giòn tươi.
                </p>
                <div class="quantity-wrapper">
                    <button class="quantity-button_1" onclick="decreaseQuantity()">-</button>
                    <span id="quantity">1</span>
                    <button class="quantity-button_2" onclick="increaseQuantity()">+</button>
                </div>
                <button id="add_cart">Thêm vào giỏ hàng</button>
            </div>
        </div>
    </div>
</body>
</html>