<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="ct_monan.css">
    <title>Chi tiết món ăn</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <script src="../../../controller/cus/menu.js"></script>
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <script src="../../../controller/cus/sidebar.js"></script>
    <script>
        $(function() {
            // Nạp nội dung từ sidebar.html và chèn vào phần tử có id "sidebar"
            $("#sidebar").load("../sidebar/sidebar.html");
        });
    </script>
</head>
<body>
    <div id="sidebar"></div>
    <div id="chitiet_mon1">
        <p>túdfsdfs</p>
        <p>túdfsdfs</p>
    </div>
    <div id="chitiet_mon2">
        <p>túdfsdfs</p>
        <p>túdfsdfs</p>
    </div>
    <script>
        // Lấy tham số "id" từ URL
        var urlParams = new URLSearchParams(window.location.search);
        var monAnId = urlParams.get('id');

        // Ẩn tất cả các thẻ div chi tiết món ăn
        var chiTietMonAnElements = document.querySelectorAll('[id^="chitiet_mon"]');
        for (var i = 0; i < chiTietMonAnElements.length; i++) {
            chiTietMonAnElements[i].style.display = 'none';
        }

        // Hiển thị thẻ div chi tiết món ăn tương ứng
        var chiTietMonAnElement = document.getElementById(monAnId);
        if (chiTietMonAnElement) {
            chiTietMonAnElement.style.display = 'block';
        }
    </script>

</body>
</html>