body {
    background-color: #FBF5F5;
    margin-top: 100px; 
  }

#sidebar_menu {
    width: 240px;
    height: 600px;
    background-color:#F5EAD7; 
    position: fixed;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto; 
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Thay đổi thành justify-content: flex-start */
    align-items: flex-start;
}

/* CSS cho liên kết trong sidebar */
#sidebar_menu a {
    text-decoration: none;
    font-size: 20px;
    color: #E95002;
    font-family: 'Lalezar';
    display: block; 
    text-align: left;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* CSS cho liên kết được chọn */
#sidebar_menu a#active {
    color: #FFA629;
}

/* CSS khi rê chuột qua liên kết */
#sidebar_menu a:hover:not(#active) {
    color: #FFA629;
}

/* CSS cho ảnh */
#sidebar_menu img {
    max-width: 100%;
    height: auto;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

/* CSS cho thẻ hr */
#sidebar_menu hr {
    width: 80%; 
    background-color: #ffff; 
    height: 0.5px; 
    border: none; 
    margin: 0 auto; 
    margin-top: auto; 
    margin-bottom: auto; 
}
.title_chitiet,.title_thucdon{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #E26A2C;
    font-family: 'Lalezar';
    text-transform: uppercase;
    padding-top: 10px;
}
.Thucdon_mon{
    background-color: #F5EAD7;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.09);
    display: inline-block;
    max-width: fit-content;
    padding: 15px;
    justify-content: center;
    text-align: center;
}
.Ten_mon{
    color: #E95002;
    font-weight: bold;
}
.label {
    color: black;
    font-weight: bold;
}

.price {
    color: #f98324;
    font-weight: bold;
}
.btn_xemchitiet{
    background-color: #E26A2C;
    border: none;
    border-radius: 10px;
    width: 133px;
    height: 23px;
    color: #ffff;
    font-family: 'Lalezar';
    font-size: 16px;
}
.btn_xemchitiet:hover:not(.active) {
    background-color: #ffb84d;
    transition: background-color 0.3s ease;
}

.food-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    height: 100%;
    overflow: hidden; 
}

.anhsp{
    background-color: #F5EAD7;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
    display: block;
    max-width: fit-content;
    padding: 10px;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}
.content-wrapper {
    display: flex;
    border-radius: 30px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 45px;
    width: 50vw;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
    background-color: #F5EAD7;
}

.btn_dathang{
    background-color: #E26A2C;
    border: none;
    border-radius: 10px;
    width: 150px;
    height:25px;
    color: #ffff;
    font-family: 'Lalezar';
    font-size: 16px;
}
.btn_dathang:active {
    background-color: #ffb84d; 
}
#amount{
    width: 30px;
    text-align: center;
    background-color: #E26A2C;
    color: #ffff;
}
#buy-amount{
    padding-right: 20px;
    padding-left: 30px;;

}
.button-quantity-container {
    display: flex;
    align-items: center;
}
.btn_amount{
    margin-right: 0; 
    background-color: #E26A2C; 
    border: none; 
    width:40px; 
    height:25px;
    border-radius: 0 10px 10px 0;
    color: #ffff;
}
#buy-amount button:active {
    background-color: #ffb84d; 
}