<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nước giải khát</title>
    <link rel="stylesheet" href="menu.css">
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../../controller/cus/menu.js"></script>
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <script src="../../../controller/cus/sidebar.js"></script>
    <script>
        $(function() {
            // Nạp nội dung từ sidebar.html và chèn vào phần tử có id "sidebar"
            $("#sidebar").load("../sidebar/sidebar.html");
        });
    </script>
</head>
<body>
    <div id="sidebar"></div>
    <div id="all_dishes">
        <h1 class="title_thucdon">Thực đơn</h1>
        <div class="food-item">
            <div class="Thucdon_mon" name="category_ga"  data-category="category_ga" id="Mon1"> 
                <img src="../img/Gacay8vi.1.jpg" alt="gacay8vi" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Gà sốt 8 vị cay</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">119.000đ</span>
                </p>
                <button class="btn_xemchitiet" data-mon-id="chitiet_mon1" onclick="dieuhuong()">Xem chi tiết</button>
            </div>

            <div class="Thucdon_mon" name="category_combo"  data-category="category_combo" id="Mon2">
                <img src="../img/Combo 5 miếng gà không xương.7.webp" alt="Gakhongxuong" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Combo 5 miếng gà </p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">79.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_combo"  data-category="category_combo">
                <img src="../img/ComboB.png" alt="ComboB" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Combo B</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">220.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_combo"  data-category="category_combo">
                <img src="../img/Combo_Tietkiem.png" alt="Combotietkiem" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Combo Tiết Kiệm</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">65.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_burger"  data-category="category_burger">
                <img src="../img/food_1_BurgerTexSupreme.jpg" alt="BurgerTexSupreme" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Burger Tex Supreme</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">59.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_burger"  data-category="category_burger">
                <img src="../img/Burger Gà Chiên Giòn.webp" alt="BurgerGaChienGion" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Burger Gà Chiên Giòn</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">45.000đ</span>
                </p>
                <button class="btn_xemchitiet"onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/Khoai tây chiên Cajun.png" alt="Khoaitay" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Khoai tây chiên Cajun</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">29.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_Noodle"  data-category="category_Noodle">
                <img src="../img/Mì ý sốt bò bằm.8.webp" alt="Mỳ ý" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Mỳ ý sốt bò bằm</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">45.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>

            <div class="Thucdon_mon" name="category_burger"  data-category="category_burger">
                <img src="../img/Burgertom.png" alt="Burger" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Burgr Tôm</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">40.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_ga"  data-category="category_ga">
                <img src="../img/MiengGaGion.png" alt="Ga" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Miếng gà giòn</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">35.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/Hotdog YumYum.png" alt="Hotdog" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Hotdog YumYum</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">35.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_combo"  data-category="category_combo">
                <img src="../img/Combo hạnh phúc.png" alt="Combo" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Combo Hạnh Phúc</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">100.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_ga"  data-category="category_ga">
                <img src="../img/cơm gà giòn.jpg" alt="Comga" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Cơm gà giòn</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">45.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_combo"  data-category="category_combo">
                <img src="../img/Combo buổi trưa tiện lợi.png" alt="Combotrua" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Combo buổi trưa tiện lợi</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">78.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/khoai tây lắc bbq.jpg" alt="Khoaitaylac" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Khoai tây lắc BBQ</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">25.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/bánh xoài đào.jpeg" alt="Banhxoai" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Bánh xoài đào</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">10.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>

            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/banh-tart-trung.jpg" alt="Banhtart" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Bánh tart trứng</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">17.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/Salad.jpg" alt="Salad" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Salad rau củ</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">37.000đ</span>
                </p>
                <button class="btn_xemchitiet"onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_drink"  data-category="category_drink">
                <img src="../img/Milo.jpg.webp" alt="Milo" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Milo</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">10.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
                </div>
                <div class="Thucdon_mon" name="category_drink"  data-category="category_drink">
                    <img src="../img/Pepsi.jpg" alt="Pepsi" style="width: 165px; height: 150px;">
                    <p class="Ten_mon">Pepsi</p>
                    <p>
                        <span class="label">Giá bán:</span> 
                        <span class="price">10.000đ</span>
                    </p>
                    <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
                </div>
                <div class="Thucdon_mon" name="category_burger"  data-category="category_burger">
                    <img src="../img/burger bò.jpg" alt="Burgerbo" style="width: 165px; height: 150px;">
                    <p class="Ten_mon">Burger bò</p>
                    <p>
                        <span class="label">Giá bán:</span> 
                        <span class="price">45.000đ</span>
                    </p>
                    <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
                </div>
                <div class="Thucdon_mon" name="category_ga"  data-category="category_ga">
                    <img src="../img/Gà mắm tỏi.png" alt="Gamamtoi" style="width: 165px; height: 150px;">
                    <p class="Ten_mon">Gà mắm tỏi</p>
                    <p>
                        <span class="label">Giá bán:</span> 
                        <span class="price">35.000đ</span>
                    </p>
                    <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
                </div>
            </div>

            <div class="button_group">
                <button class="btn_chuyentrang">1</button>
                <button class="btn_chuyentrang">2</button>
                <button class="btn_chuyentrang">3</button>
            </div>
            <button class="btn_datngaynao">Đặt ngay nào</button>    
        </div>
        
        
    </body>
    </html>