<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Các món ăn kèm</title>
    <link rel="stylesheet" href="menu.css">
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../../controller/cus/menu.js"></script>
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <script src="../../../controller/cus/sidebar.js"></script>
    <script>
        $(function() {
            // Nạp nội dung từ sidebar.html và chèn vào phần tử có id "sidebar"
            $("#sidebar").load("../sidebar/sidebar.html");
        });
    </script>
</head>
<body>
    <div id="sidebar"></div>
    <div id="all_dishes">
        <h1 class="title_thucdon">Các món ăn kèm</h1>
        <div class="food-item">
            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/Khoai tây chiên Cajun.png" alt="Khoaitay" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Khoai tây chiên Cajun</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">29.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/Hotdog YumYum.png" alt="Hotdog" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Hotdog YumYum</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">35.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/khoai tây lắc bbq.jpg" alt="Khoaitaylac" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Khoai tây lắc BBQ</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">25.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/bánh xoài đào.jpeg" alt="Banhxoai" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Bánh xoài đào</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">10.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/banh-tart-trung.jpg" alt="Banhtart" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Bánh tart trứng</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">17.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_snack"  data-category="category_snack">
                <img src="../img/Salad.jpg" alt="Salad" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Salad rau củ</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">37.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
        </div>
    </div>
</body>
</html>