<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger</title>
    <link rel="stylesheet" href="menu.css">
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <script src="../sidebar/sidebar.js"></script>
    <script>
        $(function() {
            // Nạp nội dung từ sidebar.html và chèn vào phần tử có id "sidebar"
            $("#sidebar").load("../sidebar/sidebar.html");
        });
    </script>
</head>
<body>
    <div id="sidebar"></div>
    <div id="all_dishes">
        <h1 class="title_thucdon">Burger</h1>
        <div class="food-item">
            <div class="Thucdon_mon" name="category_burger"  data-category="category_burger">
                <img src="../img/food_1_BurgerTexSupreme.jpg" alt="BurgerTexSupreme" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Burger Tex Supreme</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">59.000đ</span>
                </p>
                <button class="btn_xemchitiet"onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_burger"  data-category="category_burger">
                <img src="../img/Burger Gà Chiên Giòn.webp" alt="BurgerGaChienGion" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Burger Gà Chiên Giòn</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">45.000đ</span>
                </p>
                <button class="btn_xemchitiet"onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_burger"  data-category="category_burger">
                <img src="../img/Burgertom.png" alt="Burger" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Burgr Tôm</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">40.000đ</span>
                </p>
                <button class="btn_xemchitiet"onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_burger"  data-category="category_burger">
                <img src="../img/burger bò.jpg" alt="Burgerbo" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Burger bò</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">45.000đ</span>
                </p>
                <button class="btn_xemchitiet"onclick="dieuhuong()">Xem chi tiết</button>
            </div>
        </div>
    </div>
    
</body>
</html>