<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combo Tiết Kiệm</title>
    <link rel="stylesheet" href="menu.css">
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <script src="../sidebar/sidebar.js"></script>
    <script>
        $(function() {
            // Nạp nội dung từ sidebar.html và chèn vào phần tử có id "sidebar"
            $("#sidebar").load("../sidebar/sidebar.html");
        });
    </script>
</head>
<body>
    <div id="sidebar"></div>
    <div id="all_dishes">
        <h1 class="title_thucdon">Combo Tiết Kiệm</h1>
        <div class="food-item">
            <div class="Thucdon_mon" name="category_combo"  data-category="category_combo" id="food2">
                <img src="../img/Combo 5 miếng gà không xương.7.webp" alt="Gakhongxuong" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Combo 5 miếng gà </p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">79.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_combo"  data-category="category_combo" id="food3">
                <img src="../img/ComboB.png" alt="ComboB" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Combo B</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">220.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
                    <div class="Thucdon_mon" name="category_combo"  data-category="category_combo" id="food4">
                <img src="../img/Combo_Tietkiem.png" alt="Combotietkiem" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Combo Tiết Kiệm</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">65.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_combo"  data-category="category_combo" id="food12">
                <img src="../img/Combo hạnh phúc.png" alt="Combo" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Combo Hạnh Phúc</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">100.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_combo"  data-category="category_combo" id="food14">
                <img src="../img/Combo buổi trưa tiện lợi.png" alt="Combotrua" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Combo buổi trưa tiện lợi</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">78.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
        </div>
    </div>
</body>
</html>