<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "style_dv.css">
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <title>Dịch vụ</title>
</head>
<body>
    <img src="img/banner_dv.png" class = "banner">

    <div class = "birthday">
        <img src = "img/sinhnhat_icon.png">
        <div class = "content">
            <h3>ĐẶT TIỆC SINH NHẬT</h3>
            <p>Bạn đang phân vân không biết tổ chức sinh nhật như thế nào? Chuyện gì khó có Gourméz lo, Gourméz sẽ mang lại trải nghiệm tuyệt vời, thú vị, đáng nhớ dành cho bạn.</p>
            <button onclick="dieuhuong()">Đặt tiệc</button>
        </div>   
    </div>

    <div class = "big_order">
        <img src = "img/bigdeal_icon.png">
        <div class = "content">
            <h1>Đơn hàng lớn</h1>
            <p>Để phục vụ sở thích quây quần cùng gia đình và bạn bè, chương trình chiết khấu hấp dẫn dành cho những đơn hàng lớn đã ra đời để đem đến những lựa chọn tiện lợi hơn cho bạn. Liên hệ ngay với cửa hàng gần nhất để được phục vụ.</p>
            <button onclick="dieuhuong()">Đặt hàng</button>
        </div>

    </div>

    <script>
        function dieuhuong()
        {
            location.assign("dichvu_sinhnhat.html");
        }
    </script>
</body>
</html>