/* Menu */
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: rgba(174, 33, 8, 1);
}
.header ul{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
}
.header ul li{
    display: flex;
    margin: 0px;
    
}
.header li a {
    color: rgba(249, 248, 248, 1);
    list-style: none;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
    margin-right: 60px;
}

.header li img{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header  a:hover{
    font-size: 22px;
    color: rgba(255, 236, 203, 1);
}

/* Nút đăng nhập */
.bt_dangnhap{
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    color: rgba(174, 33, 8, 1);
    margin-right: 30px;
    font-weight: bold;
}
.bt_dangnhap:hover{
    border: 1px solid black;
    background-color: black;
    color: white;
}


/* Form */

body{
    display: inline-block;
    
}
.form_dangnhap{
    border: 1px solid rgba(255, 236, 203, 1);
    background-color: rgba(255, 236, 203, 1);
    border-radius: 20px;
    padding: 35px;
    max-width: 700px;
    max-height: 500px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px;
}

/* logo lời chào */
.xinchao{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* form đăng nhập */
.bang_dn{
    border: 1px solid rgba(255, 130, 67, 1);
    background-color: rgba(255, 130, 67, 1);
    border-radius: 20px;
    padding: 50px;
    text-align: left;
}
table tr{
    width: 100px;
    border-radius: 20px;
}

/* Nút đăng nhập */

/* Quên mk/Đăng ký */


/* Đăng nhập bằng Facebook */
#dn_face{
    background-color: #365899;
    border-radius: 20px;
    border:  1px solid #365899;
}
/* Đăng nhập bằng Gmail */
#dn_gmail{
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
}
