/* Form */

body{
    display: inline-block;
    
}
.form_dangnhap{
    border: 1px solid rgba(255, 236, 203, 1);
    background-color: rgba(255, 236, 203, 1);
    border-radius: 20px;
    padding: 35px;
    max-width: 700px;
    max-height: 500px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px;
}

/* logo lời chào */
.xinchao{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* form đăng nhập */
.bang_dn{
    border: 1px solid rgba(255, 130, 67, 1);
    background-color: rgba(255, 130, 67, 1);
    border-radius: 20px;
    padding: 50px;
    text-align: left;
}
table tr{
    width: 100px;
    border-radius: 20px;
}

/* Nút đăng nhập */

/* Quên mk/Đăng ký */


/* Đăng nhập bằng Facebook */
#dn_face{
    background-color: #365899;
    border-radius: 20px;
    border:  1px solid #365899;
}
/* Đăng nhập bằng Gmail */
#dn_gmail{
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
}
