.insert_cat{
    display: flex;
    justify-content: center;
    padding-left: 240px;
    /* padding-top: 100px; */
}
table,tr,th,td{
    border: 1px solid  #754E39;
    background-color: #f0ac74;
    /* border-collapse: collapse; */
    padding: 10px;
}
table{
    width: 90%;
}
h2{
    padding-left: 600px;
    padding-top: 30px;
    font-family: Lalezar;
    text-transform: uppercase;
    color: #E26A2C;
}

