.insert_cat{
    display: flex;
    justify-content: center;
    padding-left: 240px;
    padding-top: 100px;
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
table{
    width: 70%;
}

