.insert_service{
    display: flex;
    justify-content: center;
    padding-left: 240px;
    /* padding-top: 100px; */
}

table,tr,th,td{
    border: 4px solid black;
    background-color: #f0ac74;
    padding: 10px;
}

th td
{
    border: 5px solid black;
}
table{
    width: 90%;
}
h2{
    padding-left: 600px;
    padding-top: 30px;
    font-family: Lalezar;
    text-transform: uppercase;
    color: #E26A2C;
}

