.trangchumain
{
  font-family :'Lalezar';
  margin-top: 150px; 
}
.right
{
  text-align : right;
  margin-right : 20px;
}
.center
{
  text-align : center;
  margin-left: 10px;
  margin-right : 10px;

}
.boldcen{
  font-weight : bold;
  text-align : center;
}



  .bold 
  {
    font-style : bold;
  }

  .carousel {
    display: flex;
    justify-content: center;
    width : 100%;
    height : 500px;
    margin-top : 30px;
  }
  
  .carousel-inner {
    padding-left : 100px;
    padding-right : 100px;
    width : 1300px;
    
  }
  

  
  .banner {
    width: 1100px;
    height: 500px;
    border-radius : 50px;
  }
.carousel-control-prev
{
  background-color: #FF5700 !important;
    width : 90px !important;
    height : 90px !important;
    border-radius : 90px;
    margin-top : 205px;
    margin-left : 50px;
}
  .carousel-control-next {
    background-color: #FF5700 !important;
    width : 90px !important;
    height : 90px !important;
    border-radius : 90px;
    margin-top : 205px;
    margin-right : 50px;
  }

.footer1
{
  clear : both;
  float : left;
  margin-left : 20px;
  margin-right : 20px;
  margin-top: 20px;
  height : 100px;
  width : 1490px;
}

.line
{
 border :2px solid #0b7c4e;
}
 .formdeli td
{
  width : 300px;
  height : 40px;
}

.radius
{
  color: white;
}
.labelradius 
{
  background-color : #D6662E;
  width : 250px;
  height : 40px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  margin-left: 30px;
  padding-top : 10px;
  padding-left:50px;
}

.deliform 
{
  width : 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top : 50px;
}
.inputdeliform 
{
  background-color : #FF8243;
  width : 600px;
  border-radius : 30px;
  
}
#city, #district, #ward
{
  width : 150px;
  text-align : center;
  margin-left : 25px;
  margin-top: 20px;
  color :#FF5700;
  border-radius : 15px;
  
}

.inputdeli 
{
  width : 92%;
}
.formdeli2 td
{
  height : 50px;
  width : 300px;
  text-align : center;
}
.buttonguideli 
{
  background-color: #04af4f;
  border-radius : 30px;
  color: white;
  
}


/* Lưới trang web */
.grid 
{
  width : 1200px;
  max-width : 100%;
  margin : 0 auto;
  border: 1px solid #000000;
}

.grid_row
{
  display : flex;
  flex-wrap : wrap; 
  margin-left : -5px; 
  margin-right : -5px;
  border : 1px solid #04af4f;
}
.grid_column24
{
  padding-left: 5px; 
  padding-right : 5px; 
  width : 20%;
  border: 1px solid #000000;
}

.postertrangchu
{
  margin-top : 100px;
  width : 100%;
  height : 500px;
}