/* Đặt kiểu chung cho trang */
body {
  margin-top : 100px;
}
label 
{
  font-family: 'Lalezar';
}
.thanhtoanform {
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

.thongtin, .giohang_content {
  width: 48%;
  float: left;
  margin-right: 2%;
}

.giohang_content {
  margin-right: 0;
}

.inputform, .inputdeli, .inputdeliform select, .inputdeliform textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.buttonguideli, .buttonxem button {
  background-color: #2480ED;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.deliform, .formdeli2 {
  width: 100%;
  float: left;
}

thongtin label, .giohang_content p {
  font-weight: bold;
  color: #E26A2C;
}

.tb_noidung {
  width: 100%;
  border-collapse: collapse;
}

.tb_noidung td {
  padding: 10px;
  border: 1px solid #ccc;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.buttonguideli, .buttonxem button {
  display: block;
  width: 100%;
  text-align: center;
}

button[name="checkdiscount"] {
  background-color: #2480ED;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  width: 100px;
  font-family: Lalezar;
  border: none;
}

.buttonxem {
  margin-top: 100px;
  border : 1px solid #2480ED;
  display : flex; 
  justify-content: center;
}
