<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel = "stylesheet" href = "footer.css">
    <title>Document</title>
</head>
<body>
    <div class = "footer">
        <div class = "logo">
            <img src = "../img/logo.png">
        </div>

        <div class = "nav">
            <h3>GourMéz</h3>
            <a href="">Trang chủ</a> <br>
            <a href = "">About us</a> <br>
            <a href = "../menu/menu.html">Thực đơn</a> <br>
            <a href = "../dichvu/dichvu.html">Dịch vụ</a>
        </div>

        <div class = "address">
            <h3>Địa chỉ</h3>
            <label>47 Quang Trung, phường 9, Thành phố Đà Lạt, Lâm Đồng</label> <br> 
            <label><i class="fas fa-phone" style="color: #000000;"></i> Điện thoại: (038)123456789</label> <br>
            <label><i class="fas fa-envelope" style="color: #000000;"></i> gourmez_feedback@gmail.com</label> <br>
        </div>

        <div class = "Contact">
            <h3>Follow us</h3> <br>
            <i class="fab fa-facebook fa-lg" style="padding: 0 15px 0 0;"></i><i class="fab fa-instagram-square fa-lg"></i>
        </div>
    </div>
</body>
</html>