<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "footer">
        <div class = "column1">
            <h4>GourMéz</h4>
            <a href="">Trang chủ</a>
            <a href = "">About us</a>
            <a href = "../menu/menu.html">Thực đơn</a>
            <a href = "../dichvu/dichvu.html">Dịch vụ</a>
        </div>

        <div class = "address">
            <h4>Địa chỉ</h4>
            <
        </div>
    </div>
</body>
</html>