.box-content{
    margin: 0 auto;
    width: 30%;
    height: 40%;
    background-color: white;
    /* background-image: url(../view/cus/img/anhQMK.png); */
    background-image : url(../view/cus/img/nenToanBo.jpg);
    margin-top: 150px;
    margin-bottom: 100px;
    display: block;
    padding: 2%;
    
    text-align: center;
    
}
.form{
    background-image: url(../view/cus/img/anhQMK.png);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form h3{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 20%;
}

.form input[type='email']{
    width: 60%;
    margin-bottom: 3%;
    
}
.form input[type='submit']{
    background-color: black;
    width: 62%;
    color: white;
    
}