.box-content{
    margin: 0 auto;
    width: 30%;
    height: 40%;
    background-color: white;
    /* background-image: url(../view/cus/img/anhQMK.png); */
    /* background-image : url(../view/cus/img/nenToanBo.jpg); */
    margin-top: 150px;
    margin-bottom: 100px;
    display: block;
    padding: 2%;
    
    text-align: center;
    
}
.form{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Times New Roman';
}

.form h3{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 20%;
}

.form label{
    color: black;
    display: flex;
    justify-content: left;
    text-align: left;
}
.form input[type='submit']{
    background-color: black;
    width: 93%;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.form input{
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 20px;
    font-family: 'Times New Roman';
}
.input-icon{
    display: flex;
}
.icon{
    margin-left: 5px;
    margin-top: 3px;
}
.has-error{
    color:red;
}