body {
    background-color: #FFECCB;
    margin-top: 50px; 
    font-family: 'Lalezar';
  }
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #E26A2C;
    font-family: 'Lalezar';
    text-transform: uppercase;
}
.khuyenmaigroup{
    background-color: #ffffff;
    border-radius: 20px;
    border : 1px solid #000000;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.09);
    display: inline-block;
    width : 200px;
    height : 300px;
    padding: 15px;
    justify-content: center;
    text-align: center;
}
.discount_name{
    color: #000000;
}
.label {
    color: black;
    font-weight: bold;
}

.btn_xemchitiet{
    background-color: #E26A2C;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 23px;
    color: #ffff;
    font-family: 'Lalezar';
    font-size: 16px;
}
.btn_xemchitiet:hover:not(.active) {
    background-color: #ffb84d;
    transition: background-color 0.3s ease;
}

.onediscount {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    height: 100%;
    overflow: hidden; 
}

.content-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 45px;
    width : 1000px; 
    margin : 0 auto;
    background-color: #ffffff;
}

.btn_dathang{
    background-color: #E26A2C;
    border: none;
    border-radius: 10px;
    width: 150px;
    height:25px;
    color: #ffff;
    font-family: 'Lalezar';
    font-size: 16px;
}
.btn_dathang:active {
    background-color: #ffb84d; 
}
#amount{
    width: 30px;
    text-align: center;
    background-color: #E26A2C;
    color: #ffff;
}
#buy-amount{
    padding-right: 20px;
    padding-left: 30px;;

}
.button-quantity-container {
    display: flex;
    align-items: center;
}
.btn_amount{
    margin-right: 0; 
    background-color: #E26A2C; 
    border: none; 
    width:40px; 
    height:25px;
    border-radius: 0 10px 10px 0;
    color: #ffff;
}
#buy-amount button:active {
    background-color: #ffb84d; 
}
