.box-content{
    margin: 0 auto;
    width: 800px;
    border: 1px solid rgba(255, 236, 203, 1);
    background-color: rgba(255, 236, 203, 1);
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 100px;
}
#user_login form{
    width: 600px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#user_login form table{
    align-items: center;
    justify-content: center;
}
#user_login form input{
    margin: 5px 0;
}
.xinchao{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.bang_dk{
    border: 1px solid rgba(255, 130, 67, 1);
    background-color: rgba(255, 130, 67, 1);
    border-radius: 20px;
    padding: 20px;
    text-align: left;
}

.title{
    display: flex;
    font-size: 20px;
    font-weight:bold;
}
.has-error{
    color: aliceblue;
    font-size: 18px;
}
.dangky-bt input{
    font-size: 20px;
    padding: 10px;
    font-family: 'Times New Roman';
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: aliceblue;
    border: 1px solid black;
    border-radius: 20px;
}
.dangky-bt{
    display: flex;
    align-content: end;
    align-items: end;
    text-align: center;
    justify-content: end;
    margin-left: 30px;
}