body{
  background-color: #FFECCB;
}
.giohang_content {
  display: flex; /* Use flexbox to align items */
}
.noidung{
margin-left: 150px; 
padding-top:100px; 
padding-bottom:30px;
}
.monan_qc{
padding-top:100px;  
padding-bottom:30px;
padding-left: 50px;
}
.tb_noidung{
  background-color: #ffff;
  padding: 30px; 
  padding-right:50px;
  padding-left:50px;
}
.tb_monan{
  background-color: #ffff;
  display: inline-block;
  vertical-align: top; 
}

.quantity-update {
  display: flex;
  align-items: center;
}

.quantity-update input {
margin-right: 10px;
}
.btn_thanhtoan{
  background-color: #E26A2C;
  border: none;
  border-radius: 10px;
  width: 150px;
  height:25px;
  color: #ffff;
  font-family: 'Lalezar';
  font-size: 16px;
}
.btn_update{
background-color: #14942c; 
color: white; 
border: 0.1px solid black;
border-radius: 10px;
font-family: 'Lalezar';
font-size: 12px;
}
.btn_delete{
background-color: #b32400; 
color: white; 
border: 0.5px solid black;
border-radius: 10px;
font-family: 'Lalezar';
font-size: 12px;
}
.Thucdon_mon{
background-color: #F5EAD7;
border-radius: 20px;
display: inline-block;
max-width: fit-content;
padding: 15px;
justify-content: center;
text-align: center;
}
.Ten_mon{
color: #E95002;
font-weight: bold;
}
.label {
color: black;
font-weight: bold;
}

.price {
color: #f98324;
font-weight: bold;
}
.btn_xemchitiet{
background-color: #E26A2C;
border: none;
border-radius: 10px;
width: 100px;
height: 23px;
color: #ffff;
font-family: 'Lalezar';
font-size: 16px;
}
.btn_xemchitiet:hover:not(.active) {
background-color: #ffb84d;
transition: background-color 0.3s ease;
}

.food-item {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-gap: 30px;
justify-items: center;
align-items: center;
height: 100%;
overflow: hidden; 
}

.anhsp{
background-color: #F5EAD7;
border-radius: 20px;
box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
display: block;
max-width: fit-content;
padding: 10px;
justify-content: center;
text-align: center;
border: 1px solid black;
}
