#sidebar_menu {
  width: 200px;
  height: 100vh;
  background-color: #191715;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden; 
  z-index: 1100;
}

/* CSS cho liên kết trong sidebar */
#sidebar_menu a {
  text-decoration: none;
  font-size: 18px;
  color: #bfbfbf;
  font-family: 'Lalezar';
  display: block;
  text-align: left;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 0.3s ease;
}

/* CSS cho liên kết được chọn */
#sidebar_menu a#active {
  color: #FF914D;
}

/* CSS khi rê chuột qua liên kết */
#sidebar_menu a:hover:not(#active) {
  color: #FFA629;
}

/* CSS cho thẻ hr */
#sidebar_menu hr {
  width: 70%;
  background-color: #ffff;
  height: 0.5px;
  border: none;
  margin-left: 15px;
}

.submenu {
  display: none;
  padding-left: 15px;
}

#sidebar_menu a:hover + .submenu,
.submenu:hover {
  display: block;
}