
.insert{
    display: flex;
    justify-content: center;
    padding-left: 200px;
}

table,tr,th,td{
    border: 0.5px solid  #000;
    background-color: #ffff;
    padding: 10px;
}

table{
    width: 90%;
}
.title{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 240px;
    padding-right: 20px; 
    padding-bottom: 10px;
    font-family: Lalezar;
    color: #E26A2C;
}
.insert input[type="submit"] {
    background-color: #E26A2C; 
    border: none;font-family: 'Lalezar';  
    border: 0.5px solid #fbfbfb; 
    border-radius: 5px;
    color: #ffff;
}