.insert{
    display: flex;
    justify-content: center;
    padding-left: 240px;
}
table,tr,th,td{
    border: 1px solid  #754E39;
    background-color: #f0ac74;
    padding: 10px;
}
table{
    width: 90%;
}
.title{
    display: flex;
    justify-content: center;
    padding-left: 240px;
    padding-top: 30px;
    font-family: Lalezar;
    text-transform: uppercase;
    color: #E26A2C;
}
body {
    background-color: #FFECCB;
  }
