.box-content{
    width: 40%;
    margin-left: 35%;
    text-align: center;
    
    
}
.form{

    text-align: left;
    justify-content: left;
    border: 1px solid;
    
    color: black;
    margin-bottom: 5%;
    width: 100%;
    padding: 5%;
    box-shadow:1px 1px 5px 5px rgba(0, 0, 0, 0.163);
    padding: 5%;
    display: block;
}
.form input{
    display: block;
    width: 100%;
}
.box-content input[type='submit']{
    background-color: black;
    color: white;
    width: 100%;
}