.box-content {
    margin: 0 auto;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-rows: 100% 0;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
        "h f";
}

.form {
    width: 70%;
    margin: 2% auto;
    align-items: center;
    
    justify-content: center;
    grid-area: f;
    
}
.bang_dk{
    display: block;
    align-items: center;
    justify-content: end;
    margin-top: 5%;
}
.dangky{
    display: flex;
    margin-left: 12%;
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
}

.name,.user,.phone,.email,.pass,.rpass{
    margin-bottom: 2%;
    width: 70%;
}
.name input,.user input,.phone input,.email input, .pass input, .rpass input{
    width: 100%;
}
.pass-icon,.rpass-icon{
    display: flex;
}
.icon{
    display: flex;
    align-items: end;
    margin-left: 10px;
    margin-bottom: 8px;
}
.title{
    color: black;
    font-size: 18px;
}

.dk-bt{
    background-color: black;
    color: white;
    width: 70%;
    margin-top: 3%;
    height: 25px;

}
.has-error{
    color: red;
}