#sua
{
  background-color: #14942c; 
  border: none;
  font-family: "Lalezar";
  border: 0.5px solid #fbfbfb;
  border-radius: 5px;
  color: #ffff;
}
#xoa
{
  background-color: #b32400;
  border: none;
  font-family: "Lalezar";
  border: 0.5px solid #fbfbfb;
  border-radius: 5px;
  color: #ffff;
}