.box-content{
    width: 40%;
    text-align: center;
    
    margin: 0 auto;
    margin-top: 100px;
}
.form{
    text-align: left;
    /* justify-content: left; */
    border: 1px solid;
    background-color: white;
    color: #252525;
    margin-bottom: 5%;
    width: 100%;
    padding: 5%;
    font-size: 18px;
}
.form label{
    color: #252525;
}
.form input{
    display: block;
    width: 100%;
}
.box-content input[type='submit']{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-content h3{
    color: white;
    font-size: 20px;
}