<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel = "stylesheet" href = "sidebar.css">
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <script src="../../../controller/cus/menu.js"></script>
    <script src="../../../controller/cus/sidebar.js"></script>
    <a href="../menu/menu.html">Link to Other Page</a>
</head>
<body>
    <div id="sidebar_menu">
        <a href="#" onclick="hienThiMonAnTheoCategory('category_ga')">Các món gà</a><hr> 
        <a href="#" onclick="hienThiMonAnTheoCategory('category_combo')">Combo tiết kiệm</a><hr>
        <a href="#" onclick="hienThiMonAnTheoCategory('category_burger')">Burger</a><hr>
        <a href="#" onclick="hienThiMonAnTheoCategory('category_snack')">Các món ăn kèm</a><hr>
        <a href="#" onclick="hienThiMonAnTheoCategory('category_Noodle')">Mỳ ý</a><hr>
        <a href="#" onclick="hienThiMonAnTheoCategory('category_drink')">Nước giải khát</a><br>
        <img src="../img/menu_1.png">
    </div>
</body>
</html>