<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="header_trcDN.css">
    
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <style>
        body{
            font-family: 'Lalezar';
            width: 100%;
            margin: 0px;
        }
    </style>
    
</head>
<body>
    <nav class="header">
        <!-- <div id="img"><img src="C:\xampp\htdocs\DoAn\Helene.png" style="height: 86.61px; width: 100px;"></div> -->
        
        <ul>
            <li><a href="#" id="header"><img src="C:\xampp\htdocs\DoAn\Helene.png" style="height: 150px; width: 150px;"></a></li>
            <li><a href="#" id="header">THỰC ĐƠN</a></li>
            <li><a href="#" id="header">KHUYẾN MÃI</a></li>
            <li><a href="#" id="header">DỊCH VỤ</a></li>
            <li><a href="#" id="header">TIN TỨC</a></li>
            <li><a href="#" id="header">LIÊN HỆ</a></li>
            <li><a href="#" id="header">VỀ CHÚNG TÔI</a></li>
            <li><a href="#" id="header"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
        <button class="bt_dangnhap" style="width: 100px;height: 40px;">Đăng nhập</button>
    </nav>
    
</body>
</html>