<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="ct_monan.css">
    <title>Chi tiết món ăn</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <script>
        $(function() {
            $("#sidebar").load("sidebar.html");
        });

    </script>
</head>
<body>
    <div id="sidebar"></div>
</body>
</html>