.header{
     position: fixedgit push origin master;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color: rgba(174, 33, 8, 1);
}
.header ul{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
}
.header ul li{
    display: flex;
    margin: 0px;
    
}
.header li a {
    color: rgba(249, 248, 248, 1);
    list-style: none;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
    margin-right: 60px;
}

.header li img{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header  :hover{
    color: rgba(253, 166, 93, 1);
    font-size: 24px;
}



