<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Các món gà</title>
    <link rel="stylesheet" href="menu.css">
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="menu.js"></script>
    <script>
        $(function() {
            // Nạp nội dung từ sidebar.html và chèn vào phần tử có id "sidebar"
            $("#sidebar").load("sidebar.html");
        });
    </script>
</head>
<body>
    <div id="sidebar"></div>
    <div id="all_dishes">
        <h1 class="title_thucdon">Các món gà</h1>
        <div class="food-item">
            <div class="Thucdon_mon" name="category_ga"  data-category="category_ga"> 
                <img src="img/Gacay8vi.1.jpg" alt="gacay8vi" style="width: 165px; height: 150px;">
                <p class="Ten_mon">Gà sốt 8 vị cay</p>
                <p>
                    <span class="label">Giá bán:</span> 
                    <span class="price">119.000đ</span>
                </p>
                <button class="btn_xemchitiet" onclick="dieuhuong()">Xem chi tiết</button>
            </div>
            <div class="Thucdon_mon" name="category_ga"  data-category="category_ga">
                    <img src="img/MiengGaGion.png" alt="Ga" style="width: 165px; height: 150px;">
                    <p class="Ten_mon">Miếng gà giòn</p>
                    <p>
                        <span class="label">Giá bán:</span> 
                        <span class="price">35.000đ</span>
                    </p>
                    <button class="btn_xemchitiet">Xem chi tiết</button>
                </div>
            <div class="Thucdon_mon" name="category_ga"  data-category="category_ga">
                    <img src="img/cơm gà giòn.jpg" alt="Comga" style="width: 165px; height: 150px;">
                    <p class="Ten_mon">Cơm gà giòn</p>
                    <p>
                        <span class="label">Giá bán:</span> 
                        <span class="price">45.000đ</span>
                    </p>
                    <button class="btn_xemchitiet">Xem chi tiết</button>
                </div>
            <div class="Thucdon_mon" name="category_ga"  data-category="category_ga">
                    <img src="img/Gà mắm tỏi.png" alt="Gamamtoi" style="width: 165px; height: 150px;">
                    <p class="Ten_mon">Gà mắm tỏi</p>
                    <p>
                        <span class="label">Giá bán:</span> 
                        <span class="price">35.000đ</span>
                    </p>
                    <button class="btn_xemchitiet">Xem chi tiết</button>
            </div>
        </div>
    </div>
    
</body>
</html>