<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
</head>
<body>
    <div class="sidebar_mneu">
        <a href="#">Các món gà</a><hr>
        <a href="#">Combo tiết kiệm</a><hr>
        <a href="#">Combo gia đình</a><hr>
        <a href="#">Burger</a><hr>
        <a href="#">Các món ăn kèm</a><hr>
        <a href="#">Mỳ ý</a><hr>
        <a href="#">Nước giải khát</a><br>
        <img src="img/menu_1.png">
    </div>
</body>
</html>