
.banner
{
    width: 1440px ;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.birthday
{
    display: grid;
    grid-template-columns: 600px 600px;
    align-items: center; /*căn giữa theo chiều dọc*/
    background-color: rgb(239, 239, 214);
    padding-top: 10px;
}

.birthday img
{
    padding-top: 20px;
    padding-left: 100px;
}

.content
{
    padding-left: 100px; 
    width: 500px;
    text-align: left;
    font-size: medium;
}

.content h3
{
    color: orangered;
    font-family: 'Lalezar';
    font-size: 40px;
    margin-bottom: -10px;
}

.content p
{
    color: grey;
    font-size: 20px;
}

button
{
    width: 100px;
    height: 40px;
    background-color: rgba(252, 47, 19, 1);
    border-radius: 30px;
    border-color: rgba(252, 47, 19, 1) ;
    color: white;
    font-weight: bolder;
    font-size: large;
}

.big_order
{
    display: grid;
    grid-template-columns: 600px 600px;
    align-items: center; /*căn giữa theo chiều dọc*/
}

.big_order img
{
    padding-top: 20px;
    padding-left: 100px;
    width: 513px;
    height: 513px;
}

.big_order h1
{
    color: rgba(21, 156, 51, 1);
    font-family: 'Lalezar';
    font-size: 40px;
    margin-bottom: -10px;
}

